<div class="card" style="width: 18rem;">
    <img [src]="product.$value.imageUrl" class="card-img-top" >
     <div class="card-body">
      <h5 class="card-title">{{product.$value.title}}</h5>
        <p class="card-text">{{product.$value.price | currency :'USD' :true}}</p>
      </div>
      <div class="card-footer">
         <button 
          (click)="addToCart(product)" class= " btn btn-primary btn-block">Add to cart</button> 
          <div></div>
      </div>   
   </div>
  <!-- product is of type {$key ,$value} -->