<form>
    <div class="form-group">
        <label for="user">Username</label><br>
        <input type="text" id="user" value="Thuma" ngModel name="user" class="form-control">
    </div>
    <div>
        <label for="pass">Password</label><br>
        <input type="password" id="pass"><br><br><br>
        <textarea name="fill something" id="" cols="30" rows="10" class="">Type Something here.....</textarea>
    </div> <br>
    <div>
    <button type="submit" value="Submit" class="btn btn-primary">Submit</button>   
    <button (click) = "login()"class="btn btn-primary">Login with google</button>
    </div>
</form>


