<!-- as we that every forn control of even a
single form-control of angular not bootstrap(form -c) 
should  have FORMGROUP this form group 
is by default applied by ngForm angular in form
attribute under the runtime -->

<!-- ngForm also have a property through
which we can send data to events
that is ngSubmit -->
<form #f="ngForm" (ngSubmit) = "Submit(f)">
    <div class="form-group">
        <label for="user">Username</label><br>
        <input
         required 
         minlength=3
         maxlength=10 
         pattern="thuma" 
         ngModel
         name="user"
         #user="ngModel"
         type="text"
         id="user" 
         value="Thuma"  
         (change)="log(user)"
         class="form-control">
         
        <div 
          class="alert alert-danger" 
          *ngIf="!user.valid && user.touched">
            <div *ngIf="user.errors.required">
                Please enter the name
            </div>
            <div *ngIf="user.errors.minlength">
                name length should be min {{user.errors.minlength.requiredLength}} charenter
            </div>
            <div *ngIf="user.errors.maxlength">
                name length should be max 10 charenter
            </div>
            <div *ngIf="user.errors.pattern">
                name should be follow the pattern
            </div>
        </div>
    </div>
    <div>
        <label for="pass">
            Password
        </label><br>
        <input type="password" id="pass"><br><br><br>
        <textarea 
         name="fill something" 
         id="" cols="30" rows="10" 
         class="">
         Type Something here.....
        </textarea>
    </div> <br>
    <div>
    <div class="checkbox">
        <label>
          <input type="checkbox" ngModel name="isSubscribe"> 
           Subscribe the mailling box
        </label>
    </div>

    <div class="form-group">
        <label for="" id="contactMethod">Contact method</label>
        <select 
         ngModel
         name="Contactmthod" 
         class="form-control" 
         id="contactMethod">
         <option value=""></option>
         <option 
          *ngFor="let method of contactMethod" [ngValue]="method">
          {{method.name}}
         </option>
        </select>
    </div>
    <p>
        {{f.value | json}}
    </p>
    <button type="submit" value="Submit" [disabled] ="!f.valid"
      class="btn btn-primary">
      Submit
    </button>   
    <button (click) = "login()"
     class="btn btn-primary">
     Login with google
    </button>
    </div>
</form>


