<h1>Shopping Cart</h1>
<ng-container *ngIf=" cart$ | async as cart">
    <p>
        you have {{ cart.totalItemCount }} items in your Shopping cart
    </p> 
    <table class="table">
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let productId of cart.productIds">
                <td>{{ cart.items[productId].product.title }}</td>
                <td>{{ cart.items[productId].quantity}}</td>
                <td>{{ cart.items[productId].quantity * cart.items[productId].product.price }}</td>
            </tr>
        </tbody>
    </table>
</ng-container>
 