<p>
<a routerLink="/admin/products/new" class="btn btn-primary">New Product</a>
</p>
<p>
    <input
    #query
    (keyup)="filters(query.value)"
    type ="text" class="form-control" placeholder="search...">   
</p>

<table class="table">
    <thead>
        <tr>
            <th>title</th>
            <th>price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <!-- ngFor only iterable to arrays not object -->
        <!-- i mean this var in the cpmonent should be products$[]; if we subscribe this there otherwise null value 
        renders here -->
        <tr *ngFor="let p of filteredProducts "> 
            <!-- if we use valuecHanges method on getAll()
            then this will like this 
            <td>{{p.title}}</td>
            <td>{{p.price}}</td> -->
            <td>{{p.$value.title}}</td>
            <td>{{p.$value.price}}</td>
            <td>
                <a [routerLink]="['/admin/product/', p.$key]">Edit</a>
                 <!-- we can got thay from only snapshotchanges method  -->

            </td>
        </tr>
    </tbody>
</table>

