<p>
<a routerLink="/admin/products/new" class="btn btn-primary">New Product</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>title</th>
            <th>price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of products$ | async ">
            <td>{{p.$value.title}}</td>
            <td>{{p.$value.price}}</td>
            <td>
                <a [routerLink]="['/admin/product/', p.$key]">Edit</a>
            </td>
        </tr>
    </tbody>
</table>

